<p>tdf-login-page works!</p>
<div>
  <h2>Login Page Using Template Drivem Form</h2>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
      <label>Username</label>
      <input type="text" name="user" placeholder="Insert something.." ngModel>
      <br><br>
      <label>Password Here</label>
      <input type="password" name="password" placeholder="Insert address" ngModel>

      <br><br>
      <input type="submit" value="submit" >
      <input type="reset" value="reset">
      <br><br>
      {{result}}
      <hr/>
  </form>
</div>