<div>
  <h1>Parent Component</h1>
  Name: <input type="text" #nameRef />
  <input type="button" value="Click" (click)="passName(nameRef)"/>
  <br>
  My name is {{parentName}} and child 1 Name is {{cName}}
  <hr/>
  <app-child1 [pname]="parentName" (eventRef)="cName=$event"></app-child1>
  <hr/>
  <app-child2 [parentArrayNum]="wholeNumber" (evenRef)="EvenSum=$event" (oddRef)="OddSum=$event"></app-child2>
  <hr/>
  Number :<input type="number" #numberRef/>
  <input type="button" value="Enter Number" (click)="addNumber(numberRef)"/>
  <br><br>
  Sum of event {{EvenSum}} and Odd Sum: {{OddSum}}
</div>