<h1>My first Angular homework</h1>
<p>My name is {{name}}</p>
<p>I am learning all about {{title}} and I am sort of getting there. I am finding it quite interesting I must say. Nothing crazy.</p>
<h4>Just yet...</h4>
<p>The date for today is {{date}}</p>
<br>
<p>To anyone thinking that it is impossible, remember these words...</p>
<div>
  <img src={{image}}>
</div>
 <!-- property binding - you put the property in an array and not interpolate the variable -->
<img [src] = "image">

<!-- //events bunding -->
<div>
  <button (click) ="goBack()">Go Back</button>
</div>

<router-outlet></router-outlet>
